<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Login Form</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" formControlName="email">
                    <mat-error *ngIf="loginForm.controls['email'].hasError('required')">
                        Email is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="loginForm.controls['email'].hasError('email')">
                        Not a valid email.
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password">
                    <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
                        Password is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="loginForm.controls['password'].hasError('minlength')">
                        Password must be at least 6 characters long.
                    </mat-error>
                </mat-form-field>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Submit</button>
        </mat-card-actions>
    </mat-card>
</form>